/* Top Nav */

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("../images/layer3.jpg");
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Bangers', cursive;
  font-size: 24px;
  color: yellow;
  text-shadow: 1px 1px orangered;
}


ul.topnav li.right {float: right;}



@media screen and (max-width: 600px) {
  h1,
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


h1{
  margin-left: 350px;
  font-size: 50px;
  font-family: 'Fontdiner Swanky', cursive;
  color:  rgba(255, 255, 0, 0.911);
  text-shadow: 2px 2px red;
}

/* <!-- Body --> */

body{
  background-image: url("../images/layer3.jpg");
  
}

.flexThis{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}


#inputBackground{
  background-image: url("../images/images.jpg");
  padding: 5px;
  border-radius: .25rem;
}

#storyTitle{
  width: 100%;
  margin: 2.5px;
  border-radius: .25rem;
}
#storyBody{
  width: 100%;
  margin: 2.5px;
  border-radius: .25rem;
}

#storyButton{
  border-radius: .25rem;
  width: 25%;
  float: right;
  background-color: transparent;
  border: none;
}

#storyButton:hover{
  border: solid yellow 1px;
}

#cardBody{
  width: 55%;
  margin: 2.5px;
  border-radius: .25rem;
  border: solid 1px black;
  height: 60vh;
}

#postArea{
  display: flex;
  flex-direction: column;
  width: 55%;
  
}

#buttonDiv{
  display: flex;
  justify-content: flex-end;
}