footer {
    position: fixed;
    margin-bottom: 0%;
    bottom: 0;
    width: 100%;
}

.carousel{
    height: 250px;
    width: 300px;
}

.container{
    padding-top:5%;
    height: 40%;
    width: 40%;
}
